a,body,html,p{
background-color:black;
color:white;
font-family:Menlo,'Courier New',Courier,monospace;
font-size:1em;
line-height:1em;
margin:0;
outline:0;
padding:0;
}

body{
margin:0 1em;
}

p{
white-space:pre-wrap;
}
